/* .html{
    background-color: #171717;
} */


.MuiContainer-root {
    background-color: #FFFFFF;
}

#about {
    background: #FBEAE7;
}

#about .container {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    height: 89vh;
    margin-left: 6rem;
}

.container .left_side {
    width: 50vw;
}

#about .about_heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    margin: 20px 5px 20px 0px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(178, 69, 110, 1) 35%, rgba(0, 212, 255, 1) 100%);
    line-height: 60px;
    text-align: start;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

#about .about_info {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0px 5px 20px 0px;
    color: #b2456e;
    text-align: left;
}

.container .right_side {
    width: 40%;
}

.right_side .about_image .abt_img1 {
    width: 30vw;
    height: 100%;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}

.right_side .about_image .abt_img1:hover {
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
}

.fancy {
    background-color: transparent;
    border: 2px solid #552619;
    border-radius: 0;
    box-sizing: border-box;
    color: #171717;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}

.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: #171717;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: #552619;
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(178, 69, 110, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.fancy:hover::before {
    width: 0.9375rem;
    background: white;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

.button {
    text-align: left;
}


.swiper {
    width: 240px;
    height: 320px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
}







/* Cards */
.front1 {
    background-image: url("../../assets/images/photographer2.jpg");
}

.front2 {
    background-image: url("../../assets/images/stockImage.png");
}

.front3 {
    background-image: url("../../assets/images/photograpphy3.jpg");
}


#offers {
    padding: 5% 2rem;
    background: #FBEAE7;
}

.heading_food {
    text-align: center;
    margin-bottom: 3px;
    /* margin-top: 2rem; */
    padding: 2rem 9%;
    /* background-color: #171717; */
}

.heading_food span {
    font-family: Brandon Text;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(178, 69, 110, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 900;
}

.heading_food h3 {
    font-family: Brandon Text Regular;
    font-size: 1.5rem;
    color: #b2456e;
    font-weight: 700;
}


#team {
    padding: 5% 2rem;
}

.section-title {
    text-align: center;
    color: #c9a276;
    font-size: 2rem;
    font-family: Brandon Text;
}

.cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.col {
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
}

.container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.front1,
.back {
    background-size: cover;
    box-shadow: 0 9px 8px 0 rgba(0, 0, 0, 0.30);
    border-radius: 10px;
    background-position: center;
    transition: transform .7s cubic-bezier(0.8, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.8, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    backface-visibility: hidden;
    text-align: center;
    min-height: 25rem;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-family: Brandon Text;
    font-size: 1.5rem;
    color: #FBFBFB;
}

.front2,
.back {
    background-size: cover;
    box-shadow: 0 9px 8px 0 rgba(0, 0, 0, 0.30);
    border-radius: 10px;
    background-position: center;
    transition: transform .7s cubic-bezier(0.8, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.8, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    backface-visibility: hidden;
    text-align: center;
    min-height: 25rem;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-family: Brandon Text;
    font-size: 1.5rem;
    color: #FBFBFB;
}

.front3,
.back {
    background-size: cover;
    box-shadow: 0 9px 8px 0 rgba(0, 0, 0, 0.30);
    border-radius: 10px;
    background-position: center;
    transition: transform .7s cubic-bezier(0.8, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.8, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    backface-visibility: hidden;
    text-align: center;
    min-height: 25rem;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-family: Brandon Text;
    font-size: 1.5rem;
    color: #FBFBFB;
}

.back {
    background: black;
}

.front1:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .3;
    background-color: black;
    backface-visibility: hidden;
    border-radius: 10px;
}

.front2:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .3;
    background-color: black;
    backface-visibility: hidden;
    border-radius: 10px;
}

.front3:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .3;
    background-color: black;
    backface-visibility: hidden;
    border-radius: 10px;
}

.container:hover .front1,
.container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.8, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.8, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.8, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.8, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.8, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.container:hover .front2,
.container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.8, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.8, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.8, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.8, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.8, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.container:hover .front3,
.container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.8, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.8, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.8, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.8, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.8, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 53%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    line-height: 40px;
    font-family: Brandon Text;
}

.container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front1 {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front2 {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front3 {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .front1 {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .front2 {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .front3 {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front1 .inner p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.front2 .inner p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.front3 .inner p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.front1 .inner p:after {
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #FBFBFB;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front2 .inner p:after {
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #FBFBFB;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front3 .inner p:after {
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #FBFBFB;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front1 .inner span {
    color: #FBFBFB;
    font-family: Brandon Text Regular;
    font-weight: bolder;
}

.front2 .inner span {
    color: #FBFBFB;
    font-family: Brandon Text Regular;
    font-weight: bolder;
}

.front3 .inner span {
    color: #FBFBFB;
    font-family: Brandon Text Regular;
    font-weight: bolder;
}


/* Last Part */
#begin {
    background: #FBEAE7;
    height: 50vh;
    /* margin-top: 5rem; */
    /* padding-top: 5rem; */
    padding: 2rem 9%;
}

#begin .container_begin {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: 2rem;
    flex-direction: row-reverse;
    margin: 0rem 2rem;
}

.container .left_side_begin {
    width: 50vw;
}

.begin_heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #b2456e;
    font-size: 1.5rem;
    margin: 4rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

#begin .begin_heading span {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(178, 69, 110, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;

}

.begin_image .abt_img1 {
    background-image: url("../../assets/images/photo4.jpg");
    height: 20rem;
    width: 25rem;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}

.left_side_begin .begin_image .abt_img1:hover {
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
}

.button_end {
    margin-left: 3rem;
}




/* Footer */
.footer {
    padding: 80px 70px 0;
    background-color: #FBEAE7;
}

.row_foot {
    display: flex;
    justify-content: center;
}

.nav-list_footer {
    list-style-type: none;
    margin-top: 10px;
}

.list-items_foot {
    padding: 10px;
}

.footer_item h2 {
    font-family: Brandon Text;
    margin-bottom: 20px;
}

.nav-list_footer .list-items_foot a {
    font-family: Brandon Text Regular;
    font-weight: 600;
    color: #b2456e;
    text-decoration: none;
}

.footer_item {
    width: calc(100% / 3);
    padding: 0 15px;
    text-align: center;

}

.footer_item p {
    margin: 15px 0 15px;
    font-family: Brandon Text Regular;
    color: #b2456e;
    font-weight: 600;
}

.footer_item .social_links a {
    color: #b2456e;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin: 0px 5px;
}

.footer .copyright1 {
    width: 100%;
    text-align: center;
    padding: 25px 15px;
    font-size: 14px;
    border-top: 1px solid black;
    font-family: Brandon Text Regular;
    font-weight: 600;
}

.footer .copyright {
    width: 100%;
    text-align: center;
    padding: 25px 15px;
    font-size: 14px;
    /* border-top: 1px solid black; */
    font-family: Brandon Text Regular;
    font-weight: 600;
}